@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Mozart Gondim<br />
    Fortaleza, CE 60320-250<br />
    <abbr title="Phone">P:</abbr>
    85 9999 9999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">jeanxandre@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">tecnicojean@hotmail.com</a>
</address>
